#!/usr/bin/env zsh

GOPATH="$(go env get GOPATH)"

if command -v gls &> /dev/null; then
	alias ls="gls --color"
fi


alias l="ls -al"
alias ..="cd .."
alias vim="nvim"
alias compose="docker-compose"
alias air="$GOPATH/bin/air"
