GOPATH="$(go env get GOPATH)"

if command -v gls &>/dev/null; then
	alias ls="gls --color"
else
	alias ls="ls --color=auto"
fi

alias l="ls -al"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias ~="cd	~"
alias dot="cd ~/.dotfiles"
alias dotc="cd ~/.dotfiles/.config"
alias code="cd ~/Code"
alias g="git"
alias vim="nvim"
alias compose="docker-compose"
alias air="$GOPATH/bin/air"
alias tr="tree -a -L 3 --gitignore -I '.git'"

alias tm="tmux"
alias tml="tmux list-sessions"
alias tmat="tmux attach -t"
alias tmns="tmux new -s"
