* {
  border: none;
  border-radius: 20px;
  font-family: "JetBrainsMono Nerd Font,JetBrainsMono NF";
  font-size: 15px;
  text-shadow: none;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
}

.modules-left {
  color: rgb(249, 246, 238);
  background: rgba(10, 10, 10, 0.7);
  padding: 0 10px 0 10px;
}

.modules-center {
  color: rgb(249, 246, 238);
  background: rgba(10, 10, 10, 0.7);
  padding: 0 10px 0 10px;
}

.modules-right {
  color: rgb(249, 246, 238);
  background: rgba(10, 10, 10, 0.7);
  padding: 0 10px 0 10px;
}

#workspaces {
  margin-left: 6px;
}

#workspaces button {
  color: rgb(124, 129, 140);
  background: transparent;
  padding: 5px;
}

#workspaces button.active {
  color: rgba(194, 195, 196, 1);
  font-weight: 700;
  font-size: 16px;
}

#workspaces button.focused {
  color: white;
}

#workspaces button:hover {
  background-color: rgba(70, 70, 70, 1);
  color: white;
  box-shadow: none;
  border: none;
}

/* #workspaces, */
#window,
#tray,
#cpu,
#network,
#language,
#memory,
#custom-vpn,
#custom-logo,
#clock,
#wlr-taskbar {
  /* padding: 0 10px; */
}
